<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Welcome to Movie Mania</title>

    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Balsamiq+Sans&family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- including the navbar -->
    <app-navbar></app-navbar>

    <div class="container row container-box">
      <div class="center col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <dl>
              <dt>Vikas Gupta</dt>
              <dd>
                &nbsp;&nbsp;&nbsp;&nbsp;vikas37.aman@gmail.com <br />
                &nbsp;&nbsp;&nbsp;&nbsp;9876543210
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl>
              <dt>Divyansh Rastogi</dt>
              <dd>
                &nbsp;&nbsp;&nbsp;&nbsp;divyansh.rastogi@gmail.com <br />
                &nbsp;&nbsp;&nbsp;&nbsp;9876543210
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl>
              <dt>Tushar Tandon</dt>
              <dd>
                &nbsp;&nbsp;&nbsp;&nbsp;tushar.tandon@gmail.com <br />
                &nbsp;&nbsp;&nbsp;&nbsp;9876543210
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2021
        </p>
      </div>
    </footer>
  </body>
</html>
