<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>404 Error</title>
  </head>
  <body>
    <div id="error" class="error_code_404">
      <div class="error_message">
        The requested URL was not found on our server.
        <a [routerLink]="['/']">Go to the homepage</a> &raquo;
      </div>
      <div class="error_bubble">
        <div class="error_code">404<br /><span>ERROR</span></div>
        <div class="error_quote">
          Surely you can't be serious! I am serious. And don't call me Shirley.
        </div>
      </div>
      <div class="error_arrow"></div>
      <div class="error_attrib">
        <span>Ted Striker & Rumack, </span>
      </div>
      <div class="clear"></div>
    </div>
    <!-- The next level -->
  </body>
</html>
