html,
body {
  height: 100%;
}
body {
  margin: auto;
  width: 1008px;
  background-color: #d4d9dd;
  font-family: Verdana, Arial, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:link,
a:hover,
a:visited {
  color: #136cb2;
}
a:active {
  color: #e7be00;
}
#error {
  height: 100%;
  background-color: white;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  box-shadow: 0 0 5px 5px #c5cacd;
}
.error_message {
  color: #999999;
  font-size: 17.5px;
  padding: 30px 70px 20px;
}
.error_bubble {
  font-family: Arial, helvetica, sans-serif;
  font-weight: bold;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 0 70px 0 70px;
  padding: 50px;
}
.error_bubble div {
  display: inline-block;
  vertical-align: middle;
}
.error_quote {
  color: #ffffff;
  font-size: 30px;
  line-height: 1.35em;
  padding-left: 50px;
  width: 500px;
}
.error_code {
  font-size: 100px;
  line-height: 50px;
  margin-top: 8px;
}
.error_arrow {
  border-color: #deca16 transparent transparent transparent;
  border-style: solid;
  border-width: 21px 0px 0px 32px;
  height: 0;
  left: 700px;
  line-height: 0;
  position: relative;
  top: -1px;
  width: 0;
}
.error_code > span {
  font-size: 50px;
}
.error_attrib {
  color: #999999;
  float: right;
  font-size: 14px;
  font-style: italic;
  padding: 10px 70px 36px;
}
.error_code_403 .error_bubble,
.error_code_404 .error_bubble,
.error_code_400 .error_bubble,
.error_code_409 .error_bubble {
  background: none repeat scroll 0% 0% #deca16;
  border: 1px solid #deca16;
}
.error_code_403 .error_code,
.error_code_404 .error_code,
.error_code_400 .error_code,
.error_code_409 .error_code {
  color: #bfad13;
}
.error_code_500 .error_bubble {
  background: none repeat scroll 0% 0% #edca24;
  border: 1px solid #edca24;
}
.error_code_500 .error_code {
  color: #ccad1f;
}
.error_code_500 .error_arrow {
  border-color: #edca24 transparent transparent transparent;
}
.error_code_503 .error_bubble {
  background: none repeat scroll 0% 0% #2e9cea;
  border: 1px solid #2e9cea;
}
.error_code_503 .error_code {
  color: #2173b2;
}
.error_code_503 .error_arrow {
  border-color: #2e9cea transparent transparent transparent;
}
a.btn {
  background-repeat: repeat-x;
  background-color: #ece2c6;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8) 5%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0.8) 100%
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.8) 5%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0.8) 100%
  );
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.8) 5%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0.8) 100%
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0.8) 5%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0.8) 100%
  );
  border-color: #e0e0e0 #c0c0c0 #c0c0c0 #e0e0e0;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  cursor: pointer;
  float: right;
  margin-right: 70px;
  margin-top: 26px;
  padding: 0.3em 0.6em;
  text-decoration: none;
}
a.btn:hover {
  background-image: none;
  border-color: #e6b800;
}
.clear {
  clear: both;
}
